<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700" rel="stylesheet">
</head>
<body>
  
<%= render 'layouts/navigation' %> <!-- navbar -->  
<%= render 'layouts/messages' %>  <!-- because by default it will look in 'articles' folder -->
  
<div class="container">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
